/* src/components/FeatureBanner.css */

.feature-banner-container {
  padding: 3rem 2rem;

  display: flex;
  justify-content: center;
}

.feature-banner-title{
    color:white;
    font-size: 40px;
    font-weight: 800;
}
.feature-img-one {
  width: 170px;
  height: 170px;
  object-fit: contain;
}

.feature-img-two {
  width: 190px;
  height: 190px;
  object-fit: contain;

}

.feature-img-three {
  width: 190px;
  height: 190px;
  object-fit: contain;
}

.feature-banner-paper {
  max-width: 1200px;
  background: #003B8E !important;
  width: 100%;
  padding: 3rem;
  border-radius: 20px;
  background: #0099DE;
  text-align: center;
}

.feature-banner-title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.feature-banner-subtitle {
  color: white;
  margin-bottom: 2rem;
}

.feature-card {
  padding: 1.5rem;
  border-radius: 12px;
  background: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

